body {
  font-family: Arial, sans-serif;
  background-color: #f0f8ff;
  margin: 0; /* Tambahkan margin 0 untuk menghilangkan spasi default */
  padding: 0; /* Tambahkan padding 0 untuk menghilangkan padding default */
}

.container {
  margin-top: 20px;
  padding: 0 15px; /* Tambahkan padding horizontal untuk konten */
}

.navbar {
  background-color: #00bcd4;
}

.navbar-brand {
  color: white;
}

.navbar-nav .nav-link {
  color: white;
}

.navbar-nav .nav-link:hover {
  color: #ffeb3b;
}

h1,
h2,
h3,
h4,
h5 {
  color: #004d40;
}

footer {
  background-color: #424242;
  color: white;
  padding: 10px 0;
}

/* Media Queries untuk Responsivitas */
@media (max-width: 768px) {
  .img-wrap {
    width: 100%; /* Gambar akan mengambil 100% lebar pada layar kecil */
  }
}
.img-wrap {
  float: right; /* Makes the image float to the right */
  width: 50%; /* Adjust the width as needed */
  margin-left: 20px; /* Adds spacing between the image and the text */
  margin-bottom: 15px; /* Adds spacing below the image */
}
.text-justify {
  text-align: justify;
  text-justify: inter-word;
}
