@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  body {
    @apply transition-colors duration-200;
  }
}

.custom-audio {
  @apply opacity-80 hover:opacity-100 transition-opacity duration-300;
}

/* Dark mode styles for custom audio player */
.dark .custom-audio {
  @apply opacity-70 hover:opacity-90;
}
